<section>
    <div class="container text-center">
        <h1 class="titulo">Sobre els banys</h1>
    </div>
    <div class="container">
        <div class="column">
            <figure class="flex">
                <div></div>
                <div class="texto text-center">
                    <h2>Un oasi de tranquil·litat</h2>
                    <p>Al bell mig de l’Estany de Banyoles, els Banys vells és un dels llocs més emblemàtics de la província de Girona. Un oasi de tranquil·litat a l’aire lliure que s’endinsa a l’estany de forma totalment orgànica.
                    </p>
                    <p>
                        Vine a gaudir de les vistes mentre comparteixes unes tapes amb els amics i amigues, gaudeix d’un dinar en un entorn inigualable o vine a veure a qualsevol de les activitats especials que organitzem durant l’estiu, com ara els monòlegs, els concerts, les
                        desfilades o els espectacles de màgia.
                    </p>
                </div>
            </figure>
        </div>
    </div>
</section>