<footer class="site-footer">
    <br>
    <div class="container-fluid text-center">
        <div class="social">
            Estigues al corrent de tot
            <br>
            <a href="https://www.instagram.com/banysvellsbanyoles/"> <i> <fa-icon [icon]="faInstagram"></fa-icon> Instagram </i></a>
        </div>
        <small class="text-white">
          <a class="text-white" [routerLink]="['/politica-privacidad']" >Política de Privacitat</a> | <a class="text-white" [routerLink]="['/aviso-legal']" >Avís Legal</a> | <a class="text-white" [routerLink]="['/politica-cookies']">Política de Cookies</a>
        </small>
        <br>
        <small>Banys Vells de Banyoles | Copyright &copy; 2021</small>
        <br>
        <small>Midnight Group</small>
        <br>

    </div>
    <br>
</footer>
