<div class="jumbotron jumbotron-fluid height100p banner" id="home">
    <div class="container h100">
        <div class="contentBox h100">
            <div>
                <h2>VINE ALS</h2>
                <h1 class="titulo">BANYS VELLS</h1>
            </div>
        </div>
    </div>
</div>

<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="booking-form">
                    <div class="booking-bg">
                        <div class="form-header">
                            <h2>On ens pots trobar?</h2>
                            <p>Banys Vells Banyoles <br> Passeig Lluís Maria Vidal, 1</p>
                            <br>
                            <p>
                                17820, Banyoles, Girona <br> Tel: +34 683 30 37 31 <br> reservas@banysvellsdebanyoles.com
                            </p>
                            <br>
                            <p>

                            </p>
                        </div>
                    </div>
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Nom Complet*</span>
                                    <input class="form-control" type="text" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Correu electrònic*</span>
                                    <input class="form-control" type="email" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <span class="form-label">Assumpte</span>
                                    <input class="form-control" type="text" required>
                                    <span class="select-arrow"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <span class="form-label">Missatge*</span><br>
                                    <textarea name="" id="" rows="5" class="form-control text"></textarea>
                                    <span class="select-arrow"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-btn">
                            <button class="submit-btn">Reservar</button>
                        </div>
                    </form>

                </div>

            </div>
            <br>
            <br>
            <br>
            <h2 class="text-center">Segueix-nos</h2>

            <div class="social-container">
                <ul class="social-icons">
                    <li><a href="#"><i><fa-icon [icon]="faFacebookF"></fa-icon></i></a></li>
                    <li><a href="#"><i><fa-icon [icon]="faInstagram"></fa-icon></i></a></li>
                    <li><a href="#"><i><fa-icon [icon]="faTripadvisor"></fa-icon></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
