<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-info fixed-top">
        <div class="container">
            <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="active"><img src="https://i.imgur.com/9WbKkkg.png" alt="clickfy" width="100"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Inici <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/carta']" routerLinkActive="active">Carta <span
              class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/reserves']" routerLinkActive="active">Reserves <span
              class="sr-only">(current)</span></a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/contacte']" routerLinkActive="active">Contacte <span
              class="sr-only">(current)</span></a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
</header>


<!--
<div class="cookie-message">
    <img src="https://img.icons8.com/plasticine/100/000000/cookie.png">
    <span>We use cookies to provide you the best possible experience. But don't panic - we won't share any of your data. You can find more informations about our cookies <a href="#">here</a>.</span>
    <button class="cookie__accept" id="close-cookies">
      <fa-icon [icon]="faTimes"></fa-icon>
  </button>
</div> -->

<!-- importamos un javscript que nos permitira hacer el efecto de barra navegadora transparente i el scroll automatico -->
<script type="text/javascript" src="../header/trans.js"></script>
