<h1 class="text-center">Programació</h1>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="https://i.imgur.com/5hYcrkB.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5 text-left">
                    <h2 class="display-4">banys de</h2>
                    <h3>COPES</h3>
                    <p>Copes, Cocktails i ampolles per a compartir amb les millors vistes.<br> Cada divendres i dissabte a partir de les 22:30h</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="https://i.imgur.com/yaU08QZ.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5 text-right">
                    <h2 class="display-4">tarda de</h2>
                    <h3>MOJITOS</h3>
                    <p>Els millors mojitos per només 5€<br> Cada dimarts i dijous a partir de les 17:00h</p>
                </div>
            </div>
        </div>
    </div>
</section>
