<div class="jumbotron jumbotron-fluid height100p banner" id="home">
    <div class="container h100">
        <div class="contentBox h100">
            <div>
                <h1>POLÍTICA DE PRIVACIDAD
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h3><b>POLÍTICA DE PRIVACIDAD</b></h3>
    <div class="texto-pol">
        <h4><span style="color: #000;">1.&nbsp;&nbsp;&nbsp;&nbsp; INFORMACI&Oacute;N AL USUARIO</span></h4>
        <p><span style="color: #000;"><strong>MIDNIGHT BARCELONA, S.L.</strong>, como Responsable del Tratamiento, le informa que, seg&uacute;n lo dispuesto en el Reglamento (UE) 2016/679, de 27 de abril,&nbsp; (RGPD) y en la L.O. 3/2018, de 5 de diciembre, de protecci&oacute;n de datos y garant&iacute;a de los derechos digitales (LOPDGDD), trataremos su datos tal y como reﬂejamos en la presente Pol&iacute;tica de Privacidad.</span></p>
        <p><span style="color: #000;">&nbsp;</span></p>
        <p><span style="color: #000;">En esta Pol&iacute;tica de Privacidad describimos c&oacute;mo recogemos sus datos personales y por qu&eacute; los recogemos, qu&eacute; hacemos con ellos, con qui&eacute;n los compartimos, c&oacute;mo los protegemos y sus opciones en cuanto al tratamiento de sus datos personales.</span></p>
        <p><span style="color: #000;">&nbsp;</span></p>
        <p><span style="color: #000;">Esta Pol&iacute;tica se aplica al tratamiento de sus datos personales recogidos por la empresa para la prestaci&oacute;n de sus servicios. Si acepta las medidas de esta Pol&iacute;tica, acepta que tratemos sus datos personales como se deﬁne en esta Pol&iacute;tica.</span></p>
        <p><span style="color: #000;">&nbsp;</span></p>
        <h4><span style="color: #000;">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; CONTACTO</span></h4>
        <p><span style="color: #000;">Denominaci&oacute;n social: <strong>MIDNIGHT BARCELONA, S.L.</strong></span></p>
        <p><span style="color: #000;">Nombre comercial: <strong>MIDNIGHT GROUP</strong></span></p>
        <p><span style="color: #000;">CIF: <strong>B55262547</strong></span></p>
        <p><span style="color: #000;">Domicilio: <strong>C/Rambla, 24 Bajos 17820 Ba&ntilde;olas (Gerona)</strong></span></p>
        <p><span style="color: #000;">e-mail: <a style="color: #000;" href="mailto:tickets@midnight.es"><strong>tickets@midnight.es</strong></a></span></p>
        <p><span style="color: #000;"><strong>&nbsp;</strong></span></p>
        <h4><span style="color: #000;">3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; PRINCIPIOS CLAVE</span></h4>
        <p><span style="color: #000;">Siempre hemos estado comprometidos con prestar nuestros servicios con el m&aacute;s alto grado de calidad, lo que incluye tratar sus datos con seguridad y transparencia. Nuestros principios son:</span></p>
        <ul>
            <li><span style="color: #000;"><strong>Legalidad</strong>: S&oacute;lo recopilaremos sus Datos personales para ﬁnes espec&iacute;ﬁcos, expl&iacute;citos y leg&iacute;timos.</span></li>
            <li><span style="color: #000;"><strong>Minimizaci&oacute;n de datos</strong>: Limitamos la recogida de datos de car&aacute;cter personal a lo que es estrictamente relevante y necesario para los ﬁnes para los que se han</span></li>
            <li><span style="color: #000;"><strong>Limitaci&oacute;n de la Finalidad</strong>: S&oacute;lo recogeremos sus datos personales para los ﬁnes declarados y solo seg&uacute;n sus</span></li>
            <li><span style="color: #000;"><strong>Precisi&oacute;n</strong>: Mantendremos sus datos personales exactos y actualizados.</span></li>
            <li><span style="color: #000;"><strong>Seguridad de los Datos</strong>: Aplicamos las medidas t&eacute;cnicas y organizativas adecuadas y proporcionales a los riesgos para garantizar que sus datos no sufran da&ntilde;os, tales como divulgaci&oacute;n o acceso no autorizado, la destrucci&oacute;n accidental o il&iacute;cita o su p&eacute;rdida accidental o alteraci&oacute;n y cualquier otra forma de tratamiento il&iacute;cito.</span></li>
            <li><span style="color: #000;"><strong>Acceso y Rectiﬁcaci&oacute;n</strong>: Disponemos de medios para que acceda o rectiﬁque sus datos cuando lo considere</span></li>
            <li><span style="color: #000;"><strong>Conservaci&oacute;n</strong>: Conservamos sus datos personales de manera legal y apropiada y s&oacute;lo mientras es necesario para los ﬁnes para los que se han</span></li>
            <li><span style="color: #000;"><strong>Las transferencias internacionales</strong>: cuando se d&eacute; el caso de que sus datos vayan a ser transferidos fuera de la UE/EEE se proteger&aacute;n</span></li>
            <li><span style="color: #000;"><strong>Terceros</strong>: El acceso y transferencia de datos personales a terceros se llevan a cabo de acuerdo con las leyes y reglamentos aplicables y con las garant&iacute;as contractuales</span></li>
            <li><span style="color: #000;"><strong>Marketing Directo y cookies</strong>: Cumplimos con la legislaci&oacute;n aplicable en materia de publicidad y</span></li>
        </ul>
        <p><span style="color: #000;">&nbsp;</span></p>
        <h4><span style="color: #000;">&nbsp;</span></h4>
        <h4><span style="color: #000;">4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; RECOGIDA Y TRATAMIENTO DE SUS DATOS PERSONALES</span></h4>
        <p><span style="color: #000;">Las tipos de datos que se pueden solicitar y tratar son:</span></p>
        <ul>
            <li><span style="color: #000;">Datos de car&aacute;cter identiﬁcativo.</span></li>
        </ul>
        <p><span style="color: #000;">&nbsp;</span></p>
        <p><span style="color: #000;">Tambi&eacute;n recogemos de forma autom&aacute;tica datos sobre su visita a nuestro sitio web seg&uacute;n se describe en la pol&iacute;tica de cookies.</span></p>
        <p><span style="color: #000;">Siempre que solicitemos sus Datos personales, le informaremos con claridad de qu&eacute; datos personales recogemos y con qu&eacute; ﬁn. En general, recogemos y tratamos sus datos personales con el prop&oacute;sito de:</span></p>
        <ul>
            <li><span style="color: #000;">Proporcionar informaci&oacute;n, servicios, productos, informaci&oacute;n relevante y novedades en el</span></li>
            <li><span style="color: #000;">Env&iacute;o de</span></li>
        </ul>
        <p><span style="color: #000;">&nbsp;</span></p>
        <h4><span style="color: #000;">5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; LEGITIMIDAD</span></h4>
        <p><span style="color: #000;">De acuerdo con la normativa de protecci&oacute;n de datos aplicable, sus datos personales podr&aacute;n tratarse siempre que:</span></p>
        <ul>
            <li><span style="color: #000;">Nos ha dado su consentimiento a los efectos del Por supuesto podr&aacute; retirar su consentimiento en cualquier momento.</span></li>
            <li><span style="color: #000;">Por requerimiento</span></li>
            <li><span style="color: #000;">Por exisitr un inter&eacute;s leg&iacute;timo que no se vea menoscabado por sus derechos de privacidad, como por ejemplo el env&iacute;o de informaci&oacute;n comercial bien por suscripci&oacute;n a nuestra newsletter o por su condici&oacute;n de</span></li>
            <li><span style="color: #000;">Por se necesaria para la prestaci&oacute;n de alguno de nuestros servicios mediante relaci&oacute;n contractual entre usted y</span></li>
            <li></li>
        </ul>
        <h4><span style="color: #000;">6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; COMUNICACI&Oacute;N DE DATOS PERSONALES</span></h4>
        <p><span style="color: #000;">Los datos pueden ser comunicados a empresas relacionadas con <strong>MIDNIGHT BARCELONA, S.L. </strong>para la prestaci&oacute;n de los diversos servicios en calidad de Encargados del Tratamiento. La empresa no realizar&aacute; ninguna cesi&oacute;n, salvo por obligaci&oacute;n legal.</span></p>
        <p><span style="color: #000;">&nbsp;</span></p>
        <h4><span style="color: #000;">7.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; SUS DERECHOS</span></h4>
        <p><span style="color: #000;">En relaci&oacute;n con la recogida y tratamiento de sus datos personales, puede ponerse en contacto con nosotros en cualquier momento para:</span></p>
        <ul>
            <li><span style="color: #000;">Acceder a sus datos personales y a cualquier otra informaci&oacute;n indicada en el Art&iacute;culo 1 del RGPD.</span></li>
            <li><span style="color: #000;">Rectiﬁcar sus datos personales que sean inexactos o est&eacute;n incompletos de acuerdo con el Art&iacute;culo 16 del</span></li>
            <li><span style="color: #000;">Suprimir sus datos personales de acuerdo con el Art&iacute;culo 17 del RGPD.</span></li>
            <li><span style="color: #000;">Limitar el tratamiento de sus datos personales de acuerdo con el Art&iacute;culo 18 del</span></li>
            <li><span style="color: #000;">Solicitar la portabilidad de sus datos de acuerdo con el Art&iacute;culo 20 del <a style="color: #000;" href="https://presencialismo.com/">RGPD</a>.</span></li>
            <li><span style="color: #000;">Oponerse al tratamiento de sus datos personales de acuerdo con el art&iacute;culo 21 del</span></li>
        </ul>
        <p><span style="color: #000;">&nbsp;</span></p>
        <p><span style="color: #000;">Si ha otorgado su consentimiento para alguna ﬁnalidad concreta, tiene derecho a retirar el consentimiento otorgado en cualquier momento, sin que ello afecte a la licitud del tratamiento basado en el consentimiento previo a su retirada <a style="color: #000;" href="https://presencialismo.com/">rrhh</a>.</span></p>
        <p><span style="color: #000;">&nbsp;</span></p>
        <p><span style="color: #000;">Puede ejercer estos derechos enviando comunicaci&oacute;n, motivada y acreditada, a <a style="color: #000;" href="mailto:tickets@midnight.es">tickets@midnight.es</a></span></p>
        <p><span style="color: #000;">&nbsp;</span></p>
        <p><span style="color: #000;">Tambi&eacute;n tiene derecho a presentar una reclamaci&oacute;n ante la Autoridad de control competente (<a style="color: #000;" href="https://ceporros.com/">www.aepd.es</a>) si considera que el tratamiento no se ajusta a la normativa vigente.</span></p>
        <p><span style="color: #000;">&nbsp;</span></p>
        <h4><span style="color: #000;">8.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; INFORMACI&Oacute;N LEGAL</span></h4>
        <p><span style="color: #000;">Los requisitos de esta Pol&iacute;tica complementan, y no reemplazan, cualquier otro requisito existente bajo la ley de protecci&oacute;n de datos aplicable, que ser&aacute; la que prevalezca en cualquier caso.</span></p>
        <p><span style="color: #000;">&nbsp;</span></p>
        <p><span style="color: #000;">Esta Pol&iacute;tica est&aacute; sujeta a revisiones peri&oacute;dicas y la empresa puede modiﬁcarla en cualquier momento. Cuando esto ocurra, le avisaremos de cualquier cambio y le pediremos que vuelva a leer la versi&oacute;n m&aacute;s reciente de nuestra Pol&iacute;tica y que conﬁrme su aceptaci&oacute;n.</span></p>

    </div>
