<div class="jumbotron jumbotron-fluid height100p banner" id="home">
    <div class="container h100">
        <div class="contentBox h100">
            <div>
                <h1>POLÍTICA DE COOKIES
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h3><b>POLÍTICA DE COOKIES</b></h3>
    <div class="texto-pol">
        <p><span style="color: #000;">Las cookies son peque&ntilde;as cantidades de informaci&oacute;n que se almacenan en el navegador utilizado por cada usuario para que el servidor recuerde cierta informaci&oacute;n que posteriormente pueda utilizar.</span></p>
        <p><span style="color: #000;">&nbsp;</span></p>
        <h4><span style="color: #000;">TIPOS DE COOKIES QUE UTILIZAMOS</span></h4>
        <p><span style="color: #000;">Esta p&aacute;gina web utiliza cookies de terceros que son aquellas que se env&iacute;an a tu ordenador o terminal desde un dominio o una p&aacute;gina web que no es gestionada por nosotros, sino por otra entidad que trata los datos obtenidos a trav&eacute;s de las cookies.</span></p>
        <p><span style="color: #000;">&nbsp;</span></p>
        <p><span style="color: #000;">En este caso las Cookies son utilizadas con ﬁnes estad&iacute;sticos relacionados con las visitas que recibe y las p&aacute;ginas que se consultan, quedando aceptado su uso al navegar por ella.</span></p>
        <p><span style="color: #000;">&nbsp;</span></p>
        <table class="table table-bordered table-light">
            <tbody>
                <tr>
                    <td width="161">
                        <p><span style="color: #000;">COOKIE (Y PROVEEDOR)</span></p>
                    </td>
                    <td width="132">
                        <p><span style="color: #000;">DURACI&Oacute;N</span></p>
                    </td>
                    <td width="308">
                        <p><span style="color: #000;">DESCRIPCI&Oacute;N</span></p>
                    </td>
                </tr>
                <tr>
                    <td width="161">
                        <p><span style="color: #000;"><u>&nbsp;&nbsp;&nbsp; </u>cfduid (notin.es)</span></p>
                    </td>
                    <td width="132">
                        <p><span style="color: #000;">Sesi&oacute;n</span></p>
                    </td>
                    <td width="308">
                        <p><span style="color: #000;">Publicidad</span></p>
                    </td>
                </tr>
                <tr>
                    <td width="161">
                        <p><span style="color: #000;">personalization_id (twitter.com)</span></p>
                    </td>
                    <td width="132">
                        <p><span style="color: #000;">Sesi&oacute;n</span></p>
                    </td>
                    <td width="308">
                        <p><span style="color: #000;">Twitter</span></p>
                    </td>
                </tr>
                <tr>
                    <td width="161">

                        <p><span style="color: #000;">Facebook</span></p>
                    </td>
                    <td width="132">
                        <p><span style="color: #000;">Publicidad, estad&iacute;sticas y mediciones</span></p>
                    </td>
                    <td width="308">
                        <p><span style="color: #000;">Coloca Cookies en el ordenador o dispositivo y recibe la informaci&oacute;n almacenada en ellas cuando utilizas o visitas servicios prestados por otras empresas que utilizan los servicios de Facebook.</span></p>
                    </td>
                </tr>
                <tr>
                    <td width="161">
                        <p><span style="color: #000;">_ga (Google)</span></p>
                    </td>
                    <td width="132">
                        <p><span style="color: #000;">2 a&ntilde;os</span></p>
                    </td>
                    <td width="308">
                        <p><span style="color: #000;">Se usa para distinguir a los usuarios.</span></p>
                    </td>
                </tr>
                <tr>
                    <td width="161">
                        <p><span style="color: #000;">_gid (Google)</span></p>
                    </td>
                    <td width="132">
                        <p><span style="color: #000;">24 horas</span></p>
                    </td>
                    <td width="308">
                        <p><span style="color: #000;">Se usa para distinguir a los usuarios.</span></p>
                    </td>
                </tr>
                <tr>
                    <td width="161">

                        <p><span style="color: #000;">_gat (Google)</span></p>
                    </td>
                    <td width="132">

                        <p><span style="color: #000;">1 minuto</span></p>
                    </td>
                    <td width="308">
                        <p><span style="color: #000;">Se usa para limitar el porcentaje de solicitudes. Si has implementado Google Analytics mediante Google Tag Manager, esta cookie se llamar&aacute;</span></p>
                        <p><span style="color: #000;">_dc_gtm_&lt;property-id&gt;.</span></p>
                    </td>
                </tr>
                <tr>
                    <td width="161">
                        <p><span style="color: #000;">_gali (Google)</span></p>
                    </td>
                    <td width="132">
                        <p><span style="color: #000;">30s</span></p>
                    </td>
                    <td width="308">
                        <p><span style="color: #000;">Atribuci&oacute;n de enlace mejorada.</span></p>
                    </td>
                </tr>
                <tr>
                    <td width="161">

                        <p><span style="color: #000;">_unam (SHARETHIS)</span></p>
                    </td>
                    <td width="132">

                        <p><span style="color: #000;">Persistente</span></p>
                    </td>
                    <td width="308">
                        <p><span style="color: #000;">Su ﬁnalidad es cuantiﬁcar el n&uacute;mero de Usuarios que comparten un determinado contenido y cu&aacute;ntas p&aacute;ginas web son visitadas a ra&iacute;z de esa acci&oacute;n.</span></p>
                    </td>
                </tr>
                <tr>
                    <td width="161">
                        <p><span style="color: #000;">WordPress</span></p>
                    </td>
                    <td width="132">
                        <p><span style="color: #000;">2 a&ntilde;os</span></p>
                    </td>
                    <td width="308">
                        <p><span style="color: #000;">Utilizado para el correcto funcionamiento del gestor de contenido WordPress.</span></p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
    </div>
