<div class="jumbotron jumbotron-fluid height100p banner" id="home">
    <div class="container h100">
        <div class="contentBox h100">
            <div>
                <h2>VINE ALS</h2>
                <h1 class="titulo-blanco">BANYS VELLS</h1>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<section>
    <div class="container">
        <div class="column">
            <figure class="flex">
                <div class="texto text-center">
                    <h2>Reserves</h2>
                    <p>
                        Per reservar la teva taula als Banys Vells pots trucar-nos o enviar-nos un WhatsApp al nostre telèfon de reserves. <br> Tel: +34 683 30 37 31

                    </p>
                    <p>
                        El nostre horari d’atenció al públic per a reserves és de 10:00h a 23:00h. Si ens contacteu fora d’aquest horari respondrem a la vostra petició tan aviat com ens sigui possible.


                    </p>
                </div>
                <div class="foto"></div>
            </figure>
        </div>
    </div>
</section>
<br>
<br>
<br>
<br>
<section class="container">
    <div id="booking">
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="booking-form">
                        <div class="booking-bg">
                            <div class="form-header">
                                <h2>Reserva als</h2>
                                <h3>Banys Vells</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate laboriosam numquam at</p>
                            </div>
                        </div>
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <span class="form-label">Fecha</span>
                                        <input class="form-control" type="date" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <span class="form-label">Personas</span>
                                        <input class="form-control" type="number" required>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-btn">
                                <button class="submit-btn">Reservar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<br>
<br>
<br>