<section>
    <div class="container text-center">
        <h1 class="titulo">Sobre els banys</h1>
    </div>
    <div class="container">
        <div class="column">
            <figure class="flex">
                <div></div>
                <div class="texto text-center">
                    <h2>Un oasi de tranquil·litat amb unes vistes úniques.</h2>
                    <p>Situats sobre l’Estany de Banyoles, els Banys Vells és un dels llocs més emblemàtics de la província de Girona.
                    </p>
                    <p>
                        On podràs gaudir de postes de Sol úniques, concerts, monòlegs, espectacles de màgia, desfilades, tapes, àpats i molt més. Ademés, comptem amb una zona habilitada perquè puguis aparcar la teva bicicleta.
                    </p>
                </div>
            </figure>
        </div>
    </div>
</section>
