@font-face {
    font-family: 'TT Commons';
    src: url('assets/fonts/TTCommons/TTCommons-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Commons';
    src: url('assets/fonts/TTCommons/TTCommons-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Commons';
    src: url('assets/fonts/TTCommons/TTCommons-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Commons';
    src: url('assets/fonts/TTCommons/TTCommons-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Commons';
    src: url('assets/fonts/TTCommons/TTCommons-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Commons';
    src: url('assets/fonts/TTCommons/TTCommons-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Commons';
    src: url('assets/fonts/TTCommons/TTCommons-DemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Commons';
    src: url('assets/fonts/TTCommons/TTCommons-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Commons';
    src: url('assets/fonts/TTCommons/TTCommons-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Commons';
    src: url('assets/fonts/TTCommons/TTCommons-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Commons';
    src: url('assets/fonts/TTCommons/TTCommons-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Commons';
    src: url('assets/fonts/TTCommons/TTCommons-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Commons';
    src: url('assets/fonts/TTCommons/TTCommons-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Commons';
    src: url('assets/fonts/TTCommons/TTCommons-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Commons';
    src: url('assets/fonts/TTCommons/TTCommons-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Commons';
    src: url('assets/fonts/TTCommons/TTCommons-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Commons';
    src: url('assets/fonts/TTCommons/TTCommons-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Commons';
    src: url('assets/fonts/TTCommons/TTCommons-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

h1 {
    font-family: 'TT Commons';
    font-weight: bold;
    font-style: normal;
    color: #00a4ff;
}

h2 {
    font-family: 'TT Commons';
    font-weight: regular;
    font-style: normal;
    color: #00a4ff;
}

p {
    line-height: 25px;
    font-family: Gloria Hallelujah;
    font-style: normal;
    color: #fff;
    font-size: 30px;
}

.titulo {
    margin-top: -15px;
}

.imagen {
    width: auto;
    height: 400px;
    background-image: url('https://i.imgur.com/tPqrB0g.jpg');
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 992px) {
    .imagen {
        /* position: relative; */
        /* top: 0; */
        /* width: 100%; */
        /* height: auto; */
        background-image: url('https://i.imgur.com/tPqrB0g.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: initial;
        background-position: 50%;
    }
}
